@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');

:root {
    --cor0: #11189E;
    --cor1: #4F58FF;
    --cor2: #313BEB;
    --cor3: #9E7F02;
    --cor4: #ebc63183;
    --cor5: #020533;
    --cor6: #e8eaf8;

    --fonte-titulo: 'Zen Antique', serif;
    --fonte-padrao: 'Lato', 'sans-serif';
    --fonte-diferente: 'Kalam', cursive;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    outline: 0;    
}

header {
    background-image: linear-gradient(to bottom, var(--cor5), var(--cor6));
    width: 100%;
    position: relative;
    padding: 3em;
    border-bottom: 3px solid var(--cor5)
}

header li {
    color: white;
    font-style: italic;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.foto {
    width: 10em;
    border-radius: 10px;
}

.phone {
    width: 3em;
}

li {
    list-style: none;
}

.diferenciais,
.premios {
    padding: 1em;
    margin: 60px;
    font-size: 1em;
    border-radius: 15px;
    box-shadow:  0px 7px 7px rgba(0, 0, 0, 0.32)
}

.nav-button {
    border-radius: 4px;
    padding: 2px;
    background-color: rgba(13, 28, 119, 0.063);
    margin: 2px;
    cursor: pointer;
    border: solid 1px transparent;
}

.nav-button i {
    color: #fff;
}

.overlay {
    width: 0%;
    height: 100%;
    background-color: var(--cor5);
    z-index: 9;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: all 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    color: var(--cor6);
    display: block;
    font-size: 20px;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: var(--cor4)
}

.overlay .closebtn {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 20px;
}

@media screen and (max-height: 450px) {
    .overlay a { font-size: 20px;}    
    .overlay, .closebtn {
        font-size: 10px;
        top: 15px;
        right: 25px;
    }
}

body {
    background: var(--cor6);
    font-family: var(--fonte-padrao);
}

header {
    background-color: var(--cor6);
    width: 100%;
    position: relative;
    padding: 20px;
    border-bottom: 3px solid var(--cor5)
}

a {
    text-decoration: none;
    margin: 0 10px 0 10px;
}

main {
    margin: 2em;
}

.container-eu {
    padding: 1em;
    margin: 3em;
    text-align: justify;
    text-indent: 2em;
    font-size: 1em;
    border-radius: 15px;
    box-shadow:  0px 7px 7px rgba(0, 0, 0, 0.32);
    
}

.eu > h1{
    font-size: 5em;
    color: var(--cor5);

}

.container2 {
    display: flex;
    justify-content: center;

}

footer {
    background-color: var(--cor5);   

    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
    padding: 5px;
}


/* slider */

.container3 {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-between;
    padding: 20px 0;
    margin: 0 20px;
}

.slider,
.slider2 {
    margin: 15px 30px;
    width: 400px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.406);
}

.slides,
.slides2 {
    width: 400%;
    height: 300px;
    display: flex;
}

.slides input,
.slides2 input {
    display: none;
}

.slide,
.slide2 {
    width: 25%;
    position: relative;
    transition: 2s;
    background-color: #090f1316;
}

.slide h2
.slide h2 {
    margin-left: 30px;
}

.slide
.slide2 p {
    text-align: center;
}

.manual-navigation,
.manual-navigation2 {
    position: absolute;
    width: 400px;
    margin-top: -120px;
    display: flex;
    justify-content: center;
}

.manual-btn,
.manual-btn2 {
    border: 2px solid rgb(0, 0, 0);
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child),
.manual-btn2:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover,
.manual-btn2:hover {
    background-color: rgb(0, 0, 0);
}

#radio1:checked ~ .first,
#radio5:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first,
#radio6:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first,
#radio7:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first,
#radio8:checked ~ .first {
    margin-left: -75%;
}

.navigation-auto div,
.navigation-auto2 div {
    border: 2px solid #52b2f2;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto,
.navigation-auto2 {
    position: absolute;
    width: 400px;
    margin-top: 180px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child),
.navigation-auto2 div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1,
#radio5:checked ~ .navigation-auto .auto-btn5 {
    background-color: rgb(0, 0, 0);
}

#radio2:checked ~ .navigation-auto .auto-btn2,
#radio6:checked ~ .navigation-auto .auto-btn6 {
    background-color: rgb(0, 0, 0);
}

#radio3:checked ~ .navigation-auto .auto-btn3,
#radio3:checked ~ .navigation-auto .auto-btn7 {
    background-color: rgb(0, 0, 0);
}

#radio4:checked ~ .navigation-auto .auto-btn4,
#radio8:checked ~ .navigation-auto .auto-btn8 {
    background-color: rgb(0, 0, 0);
}